
html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: #0a0a0a;
    color: rgb(255, 215, 0);
    font-family: 'EB Garamond', serif;
}

h1, h3, h5{
    font-family: 'EB Garamond', serif;
    font-weight: 700;
}

h1 {
    text-shadow: 1px 1px 1px #000,
    0 0 0.5em darkslategray,
    0 0 0.1em darkslategray;
    font-size: 3rem;
    color: gold;
}

h1::before,
h1::after {
    content: '♔';
    font-size: 4rem;
    color: lightyellow;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
h3{
    color: lightyellow;
    text-align: center;
}

#main-title {
    background-color: rgba(47,79,79, 0.7);
    padding: 5%;
    margin-top: 15%;
    margin-bottom: 25%;
}

p {
    font-size: 1.2rem;
}

.navbar {
    background-color:rgba(47,79,79, 1);
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    padding: 15px;
}
.nav-link.active, .dropdown-item.active {
    background-color: darkslategray;
    color: lightyellow;
}

#intro{
    padding-top:60px;
    height: 100vh;
    background-image: url("/images/back4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#networkContainer, #matrixContainer, #storylineContainer, #scatterContainer{
    padding-top: 60px;

}
#matrixStory, #storylineStory, #networkStory, #scatterStory, #introStory{
    padding: 60px 100px 0 100px;
    margin:5%;
}
.plot-text {
    background-color: rgba(47, 79, 79, 0.6);
    padding: 5%;
    border-radius: 5px;
    color: lightyellow;
    margin-top: 60px;
    font-size: 1rem;
    text-align: left;
}

/*vertical scrolling */
.vertical-scroll{
    width: 100vw;
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.vertical-scroll section {
    padding-bottom: 30px;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
}

/* Add scroll down nudge arrow */
.scroll-arrow {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.scroll-arrow::before,
.scroll-arrow::after {
    content: '';
    position: absolute;
    bottom: 10px;
    background-color: gold;
    opacity: 0.9;
    animation: changeColor 1s infinite alternate;
}

.scroll-arrow::before {
    left: -15px;
    width: 100%;
    height: 100%;
    transform: skewY(-140deg);
}

.scroll-arrow::after {
    right: -15px;
    width: 100%;
    height: 100%;
    transform: skewY(140deg);
}

/* animation for nudge arrow*/
@keyframes changeColor {
    from {
        background-color: gold;
    }
    to {
        background-color: transparent;
    }
}

.btn{
    background-color: darkslategray;
    color: lightyellow;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

.btn:hover, button:hover,
.btn:active, button:active,
.btn:focus, button:focus {
    background-color: gold;
    color: black;
}

.btn:disabled, button:disabled {
    background-color: red;
    color: white;
}

.toast-body{
    color: #0a0a0a;
    text-align: left;
}

#storyline {
    height: 90vh;
    width: 100vw;
    margin-top: -40px;
}

#matrix{
    height: 90vh;
    width: 100vw;
    margin-top: -15px;
}

#network{
    height: 70vh;
    width: 100vw;
    margin: 3%;
}
#scatterplot{
    height: 60vh;
    width: 70vw;
    margin-left: 15%;
}

.modal-body{
    width: 900px;
}

.matrix-tooltip, .storyline-tooltip, .network-tooltip,  .scatter-tooltip{
    position: absolute;
    width: auto;
    height: auto;
    padding: 12px;
    background: gold;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: 14px;
    color: #0a0a0a;
}

.bar-tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 0px 0px 10px #aaa;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.bar-group:hover .bar {
    fill: coral;
    transition: fill 0.3s ease;
}

.bar-attacking:hover + .tooltip, .bar-defending:hover + .tooltip {
    opacity: 1;
}

.dot {
    fill: gold;
    stroke: #fff;
    stroke-width: 1px;
    transition: fill 0.3s ease-in-out, r 0.3s ease-in-out;
}

.dot:hover {
    fill: lightyellow;
    r: 10px;
}

.dot-selected {
    fill: #fff;
    stroke: coral;
    stroke-width: 3px;
}

.dot-highlighted {
    fill: pink;
    stroke: #fff;
    stroke-width: 1px;
}

.axis{
    color: lightyellow;
}

.axis-text {
    font-family: 'EB Garamond', serif;
}

.modal{
    color: darkslategray;
}



