.row {
    padding-bottom: 3rem;
}

.container {
    padding-top: 3rem;
}

#storyline {
    height: 90vh;
    width: 90vw;
}

#matrix{
    height: 90vh;
    width: 90vw;
}

#network{
    height: 90vh;
    width: 90vw;
}

.matrix-tooltip, .storyline-tooltip, .network-tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 12px;
    background: #800080;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    font-size: 14px;
    color: white;
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    color: #C41E3A;
}

.plot-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #483D8B;
}

/*.plot-filter-top-right {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*}*/

.plot-filter-top-right select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.network-button {
    text-align: center;
}

.scatterplot-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.scatterplot-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #483D8B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.scatterplots-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#scatterplot1, #scatterplot2 {
    flex: 1;
}

.plot-description {
    margin-top: 10px;
    margin-left: 80px;
    font-size: 14px;
    color: #555;
}
